---
layout: default
---

<div class="row">
    <div class="col-sm-9">
        <h1>Выпуски</h1>
        <ul>
            {% for post in site.posts %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3">
        {% include info.html %}
    </div>
</div>
