<h1>Радио "Аэростат"</h1>

<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a></p>

<blockquote class="info__quote">
    <p>Древние говорили, что музыка создает пространство, в котором обитают наши души.</p>
    <p>В трактате "Весны и осени господина Люя", написанном в четвертом веке до нашей эры, сказано приблизительно так: В царстве У была принята музыка в стиле Юй, и царство процветало сотни лет, в царстве же Чу начали слушать музыку Лю Чжоу, и царство мгновенно
        пришло в упадок.</p>
    <p> Я хочу рассказать о той музыке, которой питается моя душа, о разной музыке, которая меняла мир и продолжает менять его и по сей день.
    </p>
    <footer>БГ, май 2005</footer>
</blockquote>
<div>
    <h2>Эфир</h2>
    <dl class="info__schedule">
        <dt><a href="http://www.radiorus.ru/brand/audio/id/57083/">Радио России</a></dt>
        <dd>
            воскресенье, 13:10 (на Дальнем Востоке в 05:10 МСК) <br>
            повтор: ночь на четверг, 00:10 (на Дальнем Востоке в среду в 16:10 МСК) <br>
            УКВ 66,44 Мгц в Москве <br>
            СВ 873 КГц – 343,6 м <br>
            ДВ 261 КГц – 1149 м <br>
        </dd>
        <dt><a href="http://www.cultradio.ru/brand/audio/id/57083/">Радио Культура</a></dt>
        <dd>пятница, 19-00 FM 91.6</dd>
    </dl>
</div>
