html, body {
    height: 100%;
    background-color: #f7f7f7;
}

h1,h2,h3,h4 {
    font-weight: 100;
}

a:hover {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
