@mixin date {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: darken(white, 67%);
}

.post {
    .post__date {
        float: right;
        @include date;
    }

    .post__content {
        p {
            font-size: 1.85rem;
            margin: 2em 0;
            line-height: 1.85em;
            font-weight: 300;
        }

        blockquote {
            font-size: inherit;
            margin: inherit;
            line-height: inherit;
            font-weight: inherit;

            white-space: pre-line;
            border-left: 4px solid #DDD;
            padding: 0 15px;
            color: #777;

            p {
                margin: 0;
            }
        }
    }

    .post__issue {
        color: darken(white, 30%);
        font-family: monospace;
        font-weight: bold;
    }

    .post__player {
        display: block;
        width: 2rem;
        height: 2rem;
    }
}


.post-list {
    .post-list__date {
        float: right;
        @include date;
    }
    .post-list__post {
        margin: 2em 0;
    }
    .post-list__issue {
        color: darken(white, 30%);
        font-family: monospace;
        font-weight: bold;
    }
    .post-list__excerpt {
        font-size: 1.65rem;
        line-height: 1.85em;
        font-weight: 300;
    }
}
